<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/js")
    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }
    </style>
    <title>Sách Online</title>
</head>

<body>
  
        @Html.Action("NavPartial", "SachOnline")
        @Html.Action("SliderPartial", "SachOnline")
    <!-- Phần thân trang -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

                @Html.Action("ChuDePartial", "SachOnline")
                <br>

                @Html.Action("NHAXUATBANPartial", "SachOnline")


            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
        </div>
        <hr>
    </div>
   

        @Html.Action("SACHBANNHIEUPartial", "SachOnline")

    <!-- /.container-->
    <!-- Cuối trang -->
    <footer class="container well", align="center">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6" style="text-align:center;">
                <p>2021- Nhà sách ABC Allright Reserved</p>
                <p>Website được phát triển để sử đụng làm bài tập thực hành môn lập Trình Web</p>
                <p>Email:abc@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-9 col-xs-6 modal-footer">
                <h5>Số lượt truy cập : @ApplicationInstance.Application["HitCounter"]</h5>
                <h5>Số lượt truy cập : @ApplicationInstance.Application["Online"]</h5>
            </div>
        </div>
      
    </footer>

</body>

</html>