@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style type="text/css">
    td {
        height: 40px;
    }
</style>
<h4 style="color:orange;text-align:center;">@ViewBag.ThongBao</h4>
<h2 style="text-align:center;">ĐĂNG NHẬP</h2>
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr>
            <td>TÊN ĐĂNG NHẬP:</td>
            <td>
                @Html.TextBox("TenDN")
                @ViewBag.Err1
            </td>
        </tr>
        <tr>
            <td>Mật Khẩu:</td>
            <td>
                @Html.Password("MatKhau")
                @ViewBag.Err2
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Đăng Nhập" />
            </td>
        </tr>
    }
</table>